@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");

h1 {
  font-size: 4rem !important;
  font-family: "Saira stencil one", arial, sans-serif;
  padding-top: 50px;
  padding-left: 25px;
  color: #594e36;
}
